.ancestry-popup {

    max-width: 300px !important;
}

#ancestry-popup-header {
    margin-bottom: 0;
}

.ancestry-popup__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ancestry-popup__taxon {
    font-size: larger;
    font-weight: bold;
}
.ancestry-popup__vernacular {
    font-size: larger;
    margin: 8px 0;
}

.ancestry-popup__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}

.ancestry-popup__buttons .dialog-button {
    width: 100%;
}

.ancestry-popup__button--inactive {
    opacity: 0.5;
    cursor: not-allowed;
}
