.enter-pair-dialog {
    position: relative;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 40px 20px 20px;
    max-width: 400px;
    width: 80%;
}

.enter-pair-dialog__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.enter-pair-dialog__label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--counter-text-color);
}

.enter-pair-dialog__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: var(--normal-font-size);
    color: var(--counter-text-color);
}

.enter-pair-dialog__message {
    color: var(--counter-text-color);
    font-style: italic;
    margin-top: 10px;
}
