
*.swp
DuoTax/code/all_my_code.txt
DuoTax/code/all_my_code.txt
DuoNat/code/all_my_code.txt
*.swo
DuoNat/data/taxaInfo.json.new
DuoNat/code/claude_code_listing.txt
DuoNat/code/file_selection.json
DuoNat/data/newTaxonSetData.txt
DuoNat/data/newTaxonInfo.json
DuoNat/data/newTaxonSets.json
DuoNat/data/processing/1newTaxonInputSets.txt
DuoNat/data/processing/5perplexityData.json
DuoNat/data/processing/6newTaxonInfoWithPerplexity.json
DuoNat/data/processing/4newTaxonListForPerplexity.txt
DuoNat/data/processing/3newTaxonSets.json
DuoNat/data/processing/2newTaxonInfoForPerplexity.json
