
*.swp
DuoTax/code/all_my_code.txt
DuoTax/code/all_my_code.txt
DuoNat/code/all_my_code.txt
*.swo
DuoNat/data/taxaInfo.json.new
DuoNat/code/claude_code_listing.txt
DuoNat/code/file_selection.json
DuoNat/data/newTaxonSetData.txt
DuoNat/data/newTaxonInfo.json
DuoNat/data/newTaxonSets.json
DuoNat/data/processing/1newTaxonInputSets.txt
DuoNat/data/processing/5perplexityData.json
DuoNat/data/processing/6newTaxonInfoWithPerplexity.json
DuoNat/data/processing/4newTaxonListForPerplexity.txt
DuoNat/data/processing/3newTaxonSets.json
DuoNat/data/processing/2newTaxonInfoForPerplexity.json
DuoNat/data/processing/taxonSets/6newTaxonInfoWithPerplexity.json
DuoNat/data/processing/taxonSets/5perplexityData.json
DuoNat/data/processing/taxonSets/4newTaxonListForPerplexity.txt
DuoNat/data/processing/taxonSets/3newTaxonSets.json
DuoNat/data/processing/taxonSets/2newTaxonInfoForPerplexity.json
DuoNat/data/processing/taxonSets/1newTaxonInputSets.txt
DuoNat/data/processing/taxonSets/old/3newTaxonSets.json
DuoNat/data/processing/taxonSets/old/2newTaxonInfoForPerplexity.json
DuoNat/data/processing/taxonSets/old/4newTaxonListForPerplexity.txt
DuoNat/data/processing/taxonSets/old/5perplexityData.json
DuoNat/data/processing/taxonSets/old/6newTaxonInfoWithPerplexity.json
DuoNat/data/processing/taxonSets/4newTaxonInfoWithPerplexity.json
DuoNat/data/processing/taxonSets/3perplexityData.json
DuoNat/data/processing/taxonSets/2newTaxonSetsForPerplexity.json
DuoNat/data/processing/taxonSets/5newTaxonSets.json
DuoNat/data/taxonHierarchy.json.old
DuoNat/data/taxonInfo.json.old
DuoNat/data/taxonSets.json.old
DuoNat/data/taxonInfo.json.bak
DuoNat/data/taxonSets.json.bak
DuoNat/data/processing/data_entry_workflow/old/2newTaxonInfoForPerplexity.json
DuoNat/data/processing/data_entry_workflow/5newTaxonSets.json
DuoNat/data/processing/data_entry_workflow/4newTaxonInfoWithPerplexity.json
DuoNat/data/processing/data_entry_workflow/3perplexityData.json
DuoNat/data/processing/data_entry_workflow/2newTaxonSetsForPerplexity.json
DuoNat/data/processing/data_entry_workflow/1newTaxonInputSets.txt
DuoNat/data/processing/data_entry_workflow/old/3newTaxonSets.json
DuoNat/data/processing/data_entry_workflow/old/4newTaxonListForPerplexity.txt
DuoNat/data/processing/data_entry_workflow/old/5perplexityData.json
DuoNat/data/processing/data_entry_workflow/old/6newTaxonInfoWithPerplexity.json
DuoNat/code/temp.js
/DuoNat/node_modules
DuoNat/code/_file_selection.json
DuoNat/data/processing/data_entry_workflow/1newTaxonInputPairs.txt
DuoNat/data/taxonPairs.json.old
DuoNat/data/processing/data_entry_workflow/2newTaxonPairsForPerplexity.json
DuoNat/data/processing/data_entry_workflow/5newTaxonPairs.json
DuoNat/server/.env
