.ancestry-dialog {
    flex-direction: column;
    opacity: 0.92;
    width: 95%;
    max-width: 800px !important;
    height: 95%;
    padding: 8px 5px 5px;
}

.ancestry-dialog__title {
    margin-top: -30px !important;
    margin-bottom: 0px !important;
}

.ancestry-dialog__hint {
    color: var(--dark-neutral-color);
    font-size: 0.9em;
    opacity: 0.6;
    margin-bottom: 8px;
}

.ancestry-dialog__graph {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-top: 8px;
}

/* hide when dialog is hidden */
#ancestry-dialog.hidden .ancestry-dialog__graph {
    display: none;
    visibility: hidden;
}

.ancestry-dialog__graph {
    flex-grow: 1;
    overflow: hidden;
}

.clickable-network .vis-network:hover {
    /* TODO: gives pointer not only over nodes*/
    /* cursor: pointer; */
}

/* D3 */

.ancestry-tree__link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.ancestry-tree__node-rect {
    stroke: #fff;
    stroke-width: 2px;
    fill: #74ac00;
}

.ancestry-tree__node-rect--endpoint {
    fill: #cb9a48;
}

.ancestry-tree__node-text {
    font: 18px sans-serif;
    fill: white;
}

.ancestry-tree__node-text tspan[style*="italic"] {
        font-style: italic;
}

.ancestry-tree__node:hover {
    cursor: pointer;
}

.ancestry-tree__node-rect:hover {
    stroke: #74ac00;
    stroke-width: 3px;
}
