.info-dialog {
    position: fixed;
    flex-direction: column;
    display: none;
    padding: 8px 12px 8px !important;
    background-color: var(--light-green-not-transparent) !important;
    max-width: var(--max-image-width) !important;
    width: 100% !important;
    transition: top 0.3s ease-out, bottom 0.3s ease-out, height 0.3s ease-out;
}

.info-dialog[open] {
    display: flex;
    transform: translateX(-50%);
    /* override system-wide centering of dialogs */
}

.info-dialog__header {
    text-align: center;
    margin-bottom: 15px;
}

.info-dialog__taxon {
    font-size: 1.4em;
    margin: 0;
    color: var(--primary-counter-color);
    font-style: italic;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog__vernacular {
    font-size: 1.2em;
    margin: 5px 0 0;
    color: var(--dark-neutral-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog__facts {
    flex-grow: 1;
    /*margin: 15px 0;*/
    padding: 15px;
    background-color: var(--light-green);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

}

.info-dialog__facts h3 {
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--primary-color);
}

.info-dialog__facts ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.info-dialog__facts li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.4;
    color: var(--dark-neutral-color);
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    /*    text-shadow: 1px 1px 2px var(--shadow-color);*/
}

.info-dialog__facts li::before {
    content: "•";
    position: absolute;
    left: 8px;
    top: -0.18em;
    /* align with center of first line */
    color: var(--primary-color);
    font-size: 1.3em;
}

.info-dialog__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 5px;
    position: relative;
}

.info-dialog__buttons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(50% + 24px);
    /* Adjust based on your needs */
    height: 100%;
    background-color: rgba(116, 172, 0, 0.3);
    border-radius: 20px;
    z-index: 0;
}

.info-dialog__button {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
    transition: background-color 0.3s ease;
    z-index: 1;
    /* Ensures buttons are above the iNat container */
    position: relative;
}

.info-dialog__inat-buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    width: 140px;
}

.info-dialog__inat-buttons::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -10px;
    right: -10px;
    bottom: -5px;
    background-color: rgba(116, 172, 0, 0.3);
    border-radius: 20px;
    z-index: 0;
}

.inat-button {
    pointer-events: auto;
    /* Re-enables clicks for these buttons */
}

.inat-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/*.info-dialog__button {
    padding: 10px;
}*/

.info-dialog__button--inactive {
    opacity: 0.5;
    cursor: not-allowed;
}
