.phylogeny-dialog {
    width: 95vw !important;
    max-width: 95vw !important;
    height: 95vh !important;
}

.phylogeny-dialog__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}

#phylogeny-done-button {
    height: 1.4em;
    display: flex;
    align-items: center;
    font-size:1.1em;
    padding: 6px 18px;
}

/* Graph container */
.phylogeny-dialog__graph-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: grab;
}

.phylogeny-dialog__graph-container:active {
    cursor: grabbing;
}

/* Controls */
.phylogeny-dialog__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.phylogeny-dialog__controls--toggles,
.phylogeny-dialog__controls--buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#phylogeny-clear-button,
#phylogeny-clear-filters-button {
    background-color: var(--primary-counter-color);
    height: 1.6em;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:1.0em;
}

#toggle-view-button {
    width: 8em; /* stabilize width */
}

.phylogeny-dialog__message {
    color: var(--dark-neutral-color);
    padding: 0.4em;
    font-weight: bold;
}

#phylogeny-dialog__message-tap {
    color: var(--primary-color);
}

/* View toggle */
.view-toggle-container {
    display: inline-block;
    /*margin-right: 10px;*/
}

.view-toggle__checkbox {
    display: none;
}

.view-toggle__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 160px;
    padding: 1px 0;
    border-radius: var(--border-radius);
    font-size:0.95em;
    background-color: #e0e0e0;
    position: relative;
    transition: background-color 0.3s ease;
}

.view-toggle__option {
    z-index: 1;
    flex: 1;
    text-align: center;
    padding: 3px 0;
    font-weight: bold;
    color: #888;
    transition: color 0.3s ease;
}

.view-toggle__slider {
    position: absolute;
    /*left: 4px;
    top: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);*/
        width: 50%;
        height: 100%;
    border-radius: var(--border-radius);
    background-color: #74ac00;
    transition: transform 0.3s ease;
}

.view-toggle__checkbox:checked + .view-toggle__label .view-toggle__slider {
    transform: translateX(calc(100% + 4px));
    transform: translateX(100%);
}

.view-toggle__checkbox:checked + .view-toggle__label .view-toggle__option--cloud,
.view-toggle__checkbox:not(:checked) + .view-toggle__label .view-toggle__option--graph {
    color: #fff;
}

#name-toggle:checked + .view-toggle__label .view-toggle__option--taxa,
#name-toggle:not(:checked) + .view-toggle__label .view-toggle__option--common {
    color: #fff;
}

/* Taxon/Vernacular switch */
/*.switch-container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #74ac00;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switch-label {
    font-size: larger;
    font-weight: bold;
    color:#888;
}*/

/* Graph */

.link {
    color: blue;
}

.node circle {
    fill: #fff;
    stroke: #74ac00;
    stroke-width: 1.5px;
}

.node text {
    font: 16px sans-serif;
    fill: #333;
    paint-order: stroke;
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    pointer-events: none; /* This ensures text doesn't interfere with click events */
}

.node--central circle {
    fill: #74ac00;
}

.node--active circle {
    stroke: #ac0028;
    stroke-width: 2px;
}

/* Active taxon */
.phylogeny-dialog__active-taxon {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.phylogeny-dialog__active-taxon #active-taxon-vernacular {
    font-style: italic;
    font-weight: normal;
}

/* Search */
.phylogeny-dialog__search {
    position: relative;
    width: 100%;
}

.phylogeny-dialog__search-input {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
}

.phylogeny-dialog__search-icon {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    color: #888;
}

.phylogeny-dialog__clear-search {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.phylogeny-dialog__clear-search svg {
    width: 1rem;
    height: 1rem;
    color: #888;
}

.phylogeny-dialog__search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.phylogeny-dialog__search-result {
    padding: 8px;
    cursor: pointer;
}

.phylogeny-dialog__search-result:hover {
    background-color: #f0f0f0;
}

/* Cloud */

/* In styles/dialogs/phylogeny-dialog.css */

.phylogeny-dialog__cloud-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    padding: 20px;
}

.phylogeny-cloud__tag {
    margin: 5px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.phylogeny-cloud__tag:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.phylogeny-cloud__scientific-name {
    /*font-style: italic;*/
    color: #555;
}

.phylogeny-cloud__vernacular-name {
    color: #555;
}

/* Switch to change link length
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
*/
