/* Tag cloud dialog */

#tag-dialog {
    width: 95%;
    max-width: var(--max-image-width);
    height: 90vh;
    display: none; /* Hide the dialog by default */
}

#tag-dialog[open] {
    display: flex;
    flex-direction: column;
}

#tag-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.tag-item {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.tag-item:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* only one set for this tag */
.tag-item--single {
    color: #999999;
}

.tag-item.active {
    background-color: var(--primary-color);
    color: white;
}

.tag-dialog__done-button {
    margin-top: 10px;
}

