/* For icons in general */
.icon {
  width: 24px;
  height: 24px;
  fill: var(--dark-neutral-color);
  transition: transform 0.2s ease, fill 0.2s ease;
}

.icon:hover, .icon-button:hover {
  transform: scale(1.1);
}

.icon:active, .icon-button:active {
  transform: scale(0.95);
}

/* For buttons containing icons */
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: background-color var(--transition-speed) ease, transform 0.2s ease;
}

.icon-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* Level indicator on main screen */
.skill-level-indicator {
    position: fixed;
    top: 15px;
    left: 5px;
    z-index: 1000;
   /* background-color: rgba(255, 255, 255, 0.6);*/
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38px; /* Adjust based on your icon size */
    height: 60px;
}

.skill-level-indicator .icon-chili {
    width: 38px;
    height: 38px;
    fill: #ff4136;
    fill: var(--dark-neutral-color);
    display: block;
    margin-top: 2px; /* Adjust this value to control overlap */
}

.skill-level-indicator .icon-chili:first-child {
    margin-top: 0; /* No negative margin for the first icon */
}

/* Help button */
#help-button {
    position: fixed;
    top: 10px;
    right: 60px;
    z-index: 1000;
}

#help-button,
#share-button,
#menu-toggle {
    position: fixed;
    top: 10px;
    z-index: 1000;
}

#help-button {
    right: 110px;
}

#share-button {
    right: 60px;
}

#menu-toggle {
    right: 10px;
}

#like-button {
    fill: var(--primary-color);
}
#trash-button {
    fill: var(--primary-counter-color);
}

/* Styles for image button containers */

.image-container__buttons {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#image-buttons-1,
#image-buttons-2 {
    bottom: 10px;
}

.image-container__button {
    margin-bottom: 10px;
    width: 36px;
    height: 36px;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .image-container__button {
        width: 32px;
        height: 32px;
    }

    .image-container__button-icon {
        width: 20px;
        height: 20px;
    }
}

