/* Generic dialog style */

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.standard-dialog {
    background-color: white;
    background-color: #f9f9f9;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 95%;
    max-width: 500px;
    max-height: 95vh;
    padding: 40px 20px 20px;
z-index: 5000; /* debug */
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
/*    background-color: white;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    max-width: 90%; *//* Adjust as needed */
 /*   margin: 0 auto;*/
}

.dialog-title {
    flex-shrink: 0;
    color: var(--primary-counter-color);
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 1.5em;
}

.dialog-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    font-size: 2em;
    color: var(--primary-counter-color);                
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent; /* Removes tap highlight on iOS */
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    z-index: 10;
}

.dialog-done-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialog-done-button:hover {
    background-color: #5c8a00;
}

/* Hover styles */
.dialog-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Active styles */
.dialog-close-button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.dialog-close-button svg {
    stroke: var(--primary-counter-color);
}

/* Styles for enter set dialog */
.enter-set-dialog {
    position: relative;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 40px 20px 20px;
    max-width: 400px;
    width: 80%;
}

.enter-set-dialog__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.enter-set-dialog__label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--counter-text-color);
}

.enter-set-dialog__input {
    width: calc(100% - 90px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--normal-font-size);
    color: var(--counter-text-color);
}

.enter-set-dialog__submit {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-weight: bold;
    transition: background-color var(--transition-speed) ease;
}

.enter-set-dialog__submit:hover {
    background-color: #5c8a00;
}

.enter-set-dialog__message {
    color: var(--counter-text-color);
    font-style: italic;
    margin-top: 10px;
}

/* Styles for select taxon set list dialog */
#select-set-dialog {
    width: 95%;
    max-width: var(--max-image-width);
    height: 90vh;
    max-height: 90vh;
    padding: 10px;
}

.select-set-dialog__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.select-set-dialog__top-section {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  /*  margin-bottom: 15px;*/
}

.select-set-dialog__button-group {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.select-set-dialog__select-buttons,
.level-filter-dropdown {
    flex-grow: 1;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    width: 30%;
}

.select-set-dialog__select-buttons:hover {
    background-color: #5c8a00;
}

.select-set-dialog__level-filter {
    display: flex;
    align-items: center;
}

.level-filter-dropdown {
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.level-filter-dropdown:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(116, 172, 0, 0.2);
}

/* Active tags functionality */
.select-set-dialog__active-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
    width: 100%;
    display: none; /* Initially hidden */
}

.select-set-dialog__tags-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 0 4px;
    flex-grow: 1;
}

.active-tag {
    background-color: var(--primary-color);
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.9em;
}

.select-set-dialog__clear-tags {
    background-color: var(--primary-counter-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 0.9em;
}

.select-set-dialog__clear-tags:hover {
    background-color: #8a0020;
}

.select-set-dialog__search {
  position: relative;
  margin-bottom: 8px;
}

.select-set-dialog__search-input {
  width: 100%;
  padding: 10px 15px;
  padding-left: 40px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.select-set-dialog__search-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.select-set-dialog__search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #888;
}

.select-set-dialog__clear-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  color: #888;
  display: none;
}

.select-set-dialog__clear-search:hover {
  color: var(--primary-color);
}

.select-set-dialog__done-button {
    position: relative;
    flex-grow: 1;
    margin-top: 20px;
    max-height: 40px;
}

.select-set-dialog__count {
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: 6px;
    text-align: center;
}

.select-set-dialog__list {
    flex-grow: 1;
    width: 100%;
    max-height: calc(90vh - 140px);
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-bottom: 10px;*/
    /*padding-right: 5px;*/ /* Add some padding for the scrollbar */
    margin-bottom: 0;
    scrollbar-width: none; /* For Firefox */
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.select-set-dialog__list::-webkit-scrollbar {
    display: none;
}

.load-more-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.load-more-button:hover {
    background-color: #5c8a00;
    transform: translateY(-2px);
}

.load-more-button:active {
    transform: translateY(0);
}

.taxon-set-button {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    background-color: rgba(116, 172, 0, 0.3); /* Light green background */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Include padding in width calculation */
}

.taxon-set-button:focus {
    outline: none;
    background-color: rgba(116, 172, 0, 0.5);
    box-shadow: 0 0 0 2px var(--primary-color);
}

.taxon-set-button:focus .taxon-item {
    background-color: #5c8a00;
}

.taxon-set-button--selected {
    background-color: rgba(116, 172, 0, 0.5); /* Darker green background */
    box-shadow: 0 0 0 2px var(--primary-color); /* Green outline */
}

.taxon-set-button--selected .taxon-item {
    background-color: #5c8a00; /* Darker green for the taxon items */
}

.taxon-set-button--selected:hover {
    background-color: rgba(116, 172, 0, 0.6); /* Even darker on hover */
}

.taxon-set-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 5px; /* Small gap between the two "buttons" */
    width: 100%;
}

.set-name-container {
    position: relative;
    text-align: center;
    padding: 5px 0;
}

.set-name {
    font-size: 1.2em;
    display: inline-block;
}

.skill-level-chilis {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.taxon-set__icon-chili {
    width: 16px;
    height: 16px;
    fill: var(--primary-counter-color); /* Adjust color as needed */
    /*margin-left: 2px;*/
}

.tags {
    font-size: 1em;
    color: #666;
}

.taxon-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
}

.taxon-set-button:hover .taxon-item {
    background-color: #5c8a00;
}

.taxon-name {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 3px;
    text-align: center;
}

.vernacular-name {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
/*
.taxon-pair-content {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
}

.taxon-pair-title {
    color: var(--primary-color);
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 1.5em;
}

.taxon-pair-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
*/

/* Tag cloud dialog */

#tag-cloud-dialog {
    width: 95%;
    max-width: var(--max-image-width);
    height: 90vh;
    display: none; /* Hide the dialog by default */
}

#tag-cloud-dialog[open] {
    display: flex;
    flex-direction: column;
}

#tag-cloud-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.tag-cloud-item {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tag-cloud-item:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* only one set for this tag */
.tag-cloud-item--single {
    color: #999999;
}

.tag-cloud-item.active {
    background-color: var(--primary-color);
    color: white;
}

.tag-cloud-dialog__done-button {
    margin-top: 10px;
}

/* Active range dialog */

.range-dialog {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.range-dialog * {
  -webkit-tap-highlight-color: transparent;
}

.range-map-container {
/*    width: 100%;
    height: 300px;
    margin-bottom: 20px;*/
}

/* QR share dialog */
.qr-dialog {
    max-width: 400px;
}

#qr-container {
    margin: 20px 0;
}

#qr-dialog__share-message {
    font-size: larger;
    font-weight: bold;
    color: var(--primary-color);
}

/* Help dialog */

.help-dialog {
    padding-top: 0px;
    max-height: 95%;
}

/* .help-dialog__content naming triggers some weird extension behavior :P */
.help-dialog_content {
    gap: 20px;
/*    max-height:95%;*/
    padding: 0 20px;
}

.help-dialog__header {
}

.help-dialog__logo {
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0.8;
}

.help-dialog__title {
    color: var(--primary-color);
    margin-top: 0;
    font-size: 24px;
    line-height: 1.5;
}

.help-dialog__title-duo {
    color: var(--primary-counter-color);
}

.help-dialog__title-nat {
    color: var(--primary-color);
}

.help-dialog__subtitle {
    color: var(--dark-neutral-color);
    font-size: 0.8em;
}

.help-dialog__items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 8px;
}

.help-dialog__item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.help-dialog__item-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    color: var(--dark-neutral-color);
    text-align: left; /* TODO doesn't work */
}

.help-dialog__shortcuts {
    width: 100%;
}

.help-dialog__shortcuts-title {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.help-dialog__shortcuts-list {
    list-style-type: none;
    padding-left: 0;
}

.help-dialog__shortcuts-item {
    margin-bottom: 5px;
    text-align: left;
}

.help-dialog__shortcut-key {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    padding: 2px;
}

.help-dialog__button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: background-color var(--transition-speed) ease, transform 0.1s ease;
    width: 100%;
}

.help-dialog__version {
    padding-top: 8px;
    font-size: 14px;
    color: var(--counter-text-color);
}

/* Styles for tutorial */
.tutorial-highlight {
    position: absolute;
    pointer-events: none;
    border-radius: var(--border-radius);
    z-index: 10000;
    animation: pulse-highlight 1.5s infinite;
    box-sizing: border-box;
}

@keyframes pulse-highlight {
    0% {
        box-shadow: 0 0 0 2px rgba(172, 0, 40, 0.5), 0 0 0 4px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 0 4px rgba(172, 0, 40, 0.7), 0 0 0 6px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(172, 0, 40, 0.5), 0 0 0 4px rgba(255, 255, 255, 0.5);
    }
}

/* Info dialog */

.info-dialog {
    position: fixed;
    transform: translate(0, 0); /* override system-wide centering of dialogs */
    padding: 20px;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f1f7e5;
    border-radius: var(--border-radius);
    border-color: var(--primary-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    max-width: var(--max-image-width);
    width: 100%;
    overflow-y: auto;
    transition: top 0.3s ease-out, bottom 0.3s ease-out, height 0.3s ease-out;
}

.info-dialog[open] {
    display: flex;
}

.info-dialog__header {
    text-align: center;
    margin-bottom: 15px;
}

.info-dialog__taxon {
    font-size: 1.4em;
    margin: 0;
    color: var(--primary-counter-color);
    font-style: italic;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog__vernacular {
    font-size: 1.2em;
    margin: 5px 0 0;
    color: var(--dark-neutral-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog__facts {
    flex-grow: 1;
    margin: 15px 0;
    padding: 15px;
    background-color: var(--light-green);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

}

.info-dialog__facts h3 {
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--primary-color);
}

.info-dialog__facts ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.info-dialog__facts li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.4;
    color: var(--dark-neutral-color);
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
/*    text-shadow: 1px 1px 2px var(--shadow-color);*/
}

.info-dialog__facts li::before {
    content: "•";
    position: absolute;
    left: 8px;
    color: var(--primary-color);
    font-size: 1.3em;
}

.info-dialog__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 5px;
    position: relative;
}

.info-dialog__buttons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(50% + 24px); /* Adjust based on your needs */
    height: 100%;
    background-color: rgba(116, 172, 0, 0.3);
    border-radius: 20px;
    z-index: 0;
}

.info-dialog__button {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
    transition: background-color 0.3s ease;
    z-index: 1; /* Ensures buttons are above the iNat container */
    position: relative;
}

.info-dialog__inat-buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    width: 140px;
}

.info-dialog__inat-buttons::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -10px;
    right: -10px;
    bottom: -5px;
    background-color: rgba(116, 172, 0, 0.3);
    border-radius: 20px;
    z-index: 0;
}

.inat-button {
    pointer-events: auto; /* Re-enables clicks for these buttons */
}

.inat-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/*.info-dialog__button {
    padding: 10px;
}*/

.info-dialog__button--inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Report dialog */

.report-dialog {
    max-width: 400px;
}

.report-dialog .dialog-title {
    margin-bottom: 20px;
}

.report-dialog_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.report-dialog__options label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.report-dialog__options input[type="checkbox"] {
    cursor: pointer;
}

.report-dialog__options label {
    font-size: larger;
    line-height: 1.4em;

}

#report-dialog__details {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.report-dialog__submit {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.report-dialog__submit:hover {
    background-color: #5c8a00;
}

.popup-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 80%;
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
}

.popup-notification.show {
    opacity: 1;
}

/* Relationship graph dialog */

.phylogeny-dialog {
    flex-direction: column;
    opacity: 0.92;
    width: 95%;
    height: 95%;
    padding: 20px 5px 5px;
}

.phylogeny-dialog__title {
    margin-bottom: 5px;
}

.phylogeny-dialog__hint {
    /*background-color: rgba(255, 255, 255, 0.6);*/
    color: var(--dark-neutral-color);
/*    padding: 5px 10px;
    border-radius: 15px;*/
    font-size: 0.9em;
    opacity: 0.6;
}

.phylogeny-dialog__graph {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%; /* TODO ugly hack */
    padding-bottom:20px;
}

/* hide when dialog is hidden */
#phylogeny-dialog.hidden .phylogeny-dialog__graph {
    display: none;
    visibility: hidden;
}

.phylogeny-dialog__graph {
    flex-grow: 1;
    overflow: hidden;
}

.clickable-network .vis-network:hover {
    /* TODO: gives pointer not only over nodes*/
   /* cursor: pointer; */
}


/* Styles for iNaturalist Down Dialog */
.inat-down-dialog {
    z-index: 10000;
}

.inat-down-dialog__message {
  margin-bottom: 1rem;
  color: var(--counter-text-color);
}

.inat-down-dialog__button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
    width: 80vw;
  transition: background-color var(--transition-speed) ease;
}

.inat-down-dialog__button:hover {
    background-color: #5c8a00;
}

.inat-down-dialog__button--status {
  background-color: var(--primary-color);
}

