.tutorial-highlight {
    position: fixed;
    box-sizing: border-box;
    pointer-events: none;
    border-radius: var(--border-radius);
    z-index: 10000;
    animation: pulse-highlight 1s;
    /* Default duration, will be overridden by JS */
    animation-iteration-count: 1;
    /* Will be set dynamically */
}

@keyframes pulse-highlight {

    0%,
    100% {
        box-shadow: 0 0 0 2px rgba(172, 0, 40, 0), 0 0 0 4px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 0 0 4px rgba(172, 0, 40, 0.7), 0 0 0 6px rgba(255, 255, 255, 0.7);
    }
}

.tutorial-close-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-counter-color);
    color: white;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    z-index: 10001;
    pointer-events: auto !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Add shadow for better visibility */
    transition: all 0.3s ease;
    /* Smooth transition for hover effect */
}

.tutorial-close-button:hover {
    background-color: #8a0020;
    transform: scale(1.05);
}

/* Collection Manager Tutorial */

.collection-manager-tutorial-overlay {
    position: fixed;
    top: 60px; /* Adjust as needed to position below the first taxon-set-button */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--dark-neutral-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    max-width: 80%;
    text-align: center;
    font-size: 16px;
}
