/* Styles for dialogs mostly */

/* Generic dialog style */

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.standard-dialog {
    background-color: white;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 95%;
    max-width: 500px;
    max-height: 95vh;
    padding: 40px 20px 20px;
z-index: 5000; /* debug */
}

.dialog-title {
    color: var(--primary-counter-color);
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 1.5em;
}

.dialog-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    font-size: 2em;
    color: var(--primary-counter-color);                
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent; /* Removes tap highlight on iOS */
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    z-index: 10;
}

/*.dialog-close-button:focus-visible {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px var(--primary-counter-color);
}*/

/* Hover styles */
.dialog-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Active styles */
.dialog-close-button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.dialog-close-button svg {
    width: 24px;
    height: 24px;
/*    stroke: var(--primary-color);*/
    stroke: var(--primary-counter-color);
}

/* Styles for button column on left main screen */
.button-column {
    position: fixed;
    right: 0px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.button-column button, #help-button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.button-column button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#share-button, #help-button {
    fill: var(--dark-neutral-color);
}
#like-button {
    fill: var(--primary-color);
}
#trash-button {
    fill: var(--primary-counter-color);
}

.button-column .icon {
    width: 24px;
    height: 24px;
}

/* Styles for functions menu (to replace button column above) */
.functions-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.functions-menu button,
.functions-dropdown button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.functions-menu button:hover,
.functions-dropdown button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.functions-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
}

.functions-dropdown.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.info-label {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: fit-content; /* Adjust height to content */
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: -8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.functions-dropdown.show .info-label {
    opacity: .8;
}

.top-group {
    top: 60px;
}

.bottom-group {
    position: absolute;
    top: 0; /* Will be set dynamically in JavaScript */
    right: 0;
}

.icon {
    width: 24px;
    height: 24px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .bottom-group {
        bottom: auto;
        top: 50px;
        right: 0;
    }
}

/* Add some responsiveness for smaller screens */
@media (max-height: 400px) {
    .button-column {
        flex-direction: row;
        top: 10px;
        right: 10px;
        left: 10px;
        justify-content: flex-end;
    }
}

/* Styles for loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000;
}

.loading-content {
    text-align: center;
}

.loading-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.loading-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.loading-content h1 .duo {
    color: var(--primary-counter-color);
}

.loading-content h1 .nat {
    color: var(--primary-color);
}

.loading-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styles for help button */
#help-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#help-button svg {
    width: 24px;
    height: 24px;
    transition: fill var(--transition-speed) ease;
}

/* Styles for image button containers */
.image-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thumbs-up-button,
.thumbs-down-button,
.info-button {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.thumbs-up-button:hover,
.thumbs-down-button:hover,
.info-button:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.thumbs-up-button:active,
.thumbs-down-button:active,
.info-button:active {
    transform: scale(0.95);
}

.thumbs-up-button .icon,
.thumbs-down-button .icon,
.info-button .icon {
    width: 24px;
    height: 24px;
    fill: var(--dark-neutral-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .thumbs-up-button,
    .thumbs-down-button,
    .info-button {
        width: 36px;
        height: 36px;
    }
    
    .thumbs-up-button .icon,
    .thumbs-down-button .icon,
    .info-button .icon {
        width: 20px;
        height: 20px;
    }
}

/* Styles for enter pair dialog */
#enter-pair-dialog {
    position: relative;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 40px 20px 20px;
             max-width: 400px;
width: 80%;
}
#enter-pair-dialog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#enter-pair-dialog label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em; /*var(--normal-font-size);*/
    color: var(--counter-text-color);
}
#enter-pair-dialog input {
    width: calc(100% - 90px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--normal-font-size);
    color: var(--counter-text-color);
}
#enter-pair-dialog #submit-dialog {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-weight: bold;
    transition: background-color var(--transition-speed) ease;
}
#enter-pair-dialog button:hover {
    background-color: #5c8a00;
}

#dialog-message {
    color: var(--counter-text-color);
    font-style: italic;
    margin-top: 10px;
}
.dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styles for select taxon pair list dialog */
#select-pair-dialog {
    height: 90vh;
    max-height: 90vh;
    padding: 20px;
}

#select-pair-dialog .dialog-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(90vh - 40px); /* Adjust for dialog padding */
}

.dialog-title {
    flex-shrink: 0;
    margin-bottom: 15px;
}

.taxon-pair-list {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px; /* This creates the gap at the bottom */
    margin-bottom: 0;
}

/* Adjust the scrollable area to leave space at the bottom */
#select-pair-dialog .taxon-pair-list {
    max-height: calc(90vh - 180px); /* Adjust this value as needed */
    padding-right: 5px; /* Add some padding for the scrollbar */
}

/* Style for webkit browsers */
#select-pair-dialog .taxon-pair-list::-webkit-scrollbar {
    width: 6px;
}

#select-pair-dialog .taxon-pair-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}

/* Style for Firefox */
#select-pair-dialog .taxon-pair-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.2) transparent;
}
/*
.taxon-pair-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

.taxon-pair-button:hover {
    background-color: #5c8a00;
}

.taxon-pair-versus {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 5px;
}
*/

.taxon-pair-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.taxon-pair-button:hover {
    background-color: #5c8a00;
}

.taxon-pair-button .scientific-names {
    font-size: 1em;
    margin-bottom: 4px;
}

.taxon-pair-button .vernacular-names {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.8);
}

.taxon-pair-versus {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 5px;
}

.taxon-pair-content {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
}

.taxon-pair-title {
    color: var(--primary-color);
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 1.5em;
}

.taxon-pair-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.search-container {
  position: relative;
  margin-bottom: 15px;
  flex-shrink: 0;
}

#taxon-search {
  width: 100%;
  padding: 10px 15px;
  padding-left: 40px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#taxon-search:focus {
  outline: none;
  border-color: var(--primary-color);
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #888;
}

#clear-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  color: #888;
  display: none;
}

#clear-search:hover {
  color: var(--primary-color);
}

/* Styles for help dialog */
#help-dialog {
    position: relative;
    padding: 40px 24px 24px;
    padding: 24px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 80%;
    background-color: #f9f9f9;
}
.help-dialog-content {
    position: relative;
    padding-top: 60px; /* Space for the logo */
}

.help-dialog-header {
    text-align: center;
    margin-bottom: 24px;
}

.help-dialog-logo {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    opacity: 0.8;
}

#help-dialog h2 {
    color: var(--primary-color);
    margin-top: 0;
    font-size: 24px;
    line-height: 1.5;
}

#help-dialog h2 .duo {
    color: var(--primary-counter-color);
}

#help-dialog h2 .nat {
    color: var(--primary-color);
}

#help-dialog h2 .subtitle {
    color: var(--dark-neutral-color);
    font-size: 0.8em;
}

.help-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.help-item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.help-item svg {
    width: 24px;
    height: 24px;
/*    fill: var(--primary-color); */
    fill: var(--dark-neutral-color);
    flex-shrink: 0;
}

.help-item p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    color: var(--dark-neutral-color);
    text-align: left; /* TODO doesn't work */
}

#keyboard-shortcuts {
    margin-top: 20px;
}

#keyboard-shortcuts h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

#keyboard-shortcuts ul {
    list-style-type: none;
    padding-left: 0;
}

#keyboard-shortcuts li {
    margin-bottom: 5px;
    text-align: left;
}

#keyboard-shortcuts strong, #shortcut-key {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    padding: 2px;
}

#start-tutorial-button, #discord-help-dialog {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: background-color var(--transition-speed) ease, transform 0.1s ease;
    width: 100%;
}

#version-id {
    padding-top: 8px;
    font-size: 14px;
    color: var(--counter-text-color);
}

/* Styles for tutorial */
.tutorial-highlight {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 0 0 4px rgba(172, 0, 40, 0.5); /* var(--primary-counter-color); */
    pointer-events: none;
    z-index: 10000;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(172, 0, 40, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(172, 0, 40, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(172, 0, 40, 0);
    }
}

/* Styles for iNaturalist Down Dialog */
#inat-down-dialog {
    position: relative;
    padding: 40px 2rem 2rem;
    width:100%; height:100%;
    z-index: 10000;
    background-color: white;
    padding: 0px;
    border-radius: 00px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#inat-down-dialog {
  background-color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  width: 400px;
  text-align: center;
}

#inat-down-dialog h2 {
  color: var(--primary-counter-color);
  margin-bottom: 1rem;
}

#inat-down-dialog p {
  margin-bottom: 1rem;
  color: var(--counter-text-color);
}

#inat-down-dialog button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  transition: background-color var(--transition-speed) ease;
}

#inat-down-dialog button:hover {
  background-color: #5c8a00;
}

#check-inat-status {
  background-color: var(--primary-color);
}

#check-inat-status:hover {
  background-color: #8a0020;
}

/* Taxa relationship graph */
.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.loading-indicator-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.loading-indicator .loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

.loading-indicator p {
    margin: 0;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#phylogeny-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    max-width: 1800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*visibility: hidden;*/
    display: none;
    opacity: 0.92;
}

.graph-hint {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--dark-neutral-color);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.graph-hint:hover {
    opacity: 0;
}

#taxa-relationship-graph {
    flex-grow: 1;
    overflow: hidden;
}

/* hide when dialog is hidden */
#phylogeny-dialog.hidden #taxa-relationship-graph {
    display: none;
    visibility: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #phylogeny-dialog {
        width: 95%;
        height: 95%;
    }
}

#taxa-relationship-graph {
    flex-grow: 1;
    overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .graph-dialog-content {
        width: 95%;
        height: 95%;
    }

    .graph-title {
        font-size: 1.2em;
        padding: 10px 0;
    }
}

.clickable-network .vis-network:hover {
    /* TODO: gives pointer not only over nodes*/
   /* cursor: pointer; */
}

/* Styles info dialog */
.info-dialog {
    position: relative;
    padding: 40px 20px 20px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 25px;
    width: 90%;
    max-width: calc(var(--max-image-width) - 40px);
}

.info-dialog-header {
    text-align: center;
    margin-bottom: 20px;
}

.info-dialog-taxon {
    font-size: 1.4em;
    margin: 0;
    color: var(--primary-counter-color);
    font-style: italic;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog-vernacular {
    font-size: 1.2em;
    margin: 5px 0 0;
    color: var(--dark-neutral-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog-facts {
    margin: 20px 0;
    padding: 15px;
    text-align: left;
    background-color: rgba(116, 172, 0, 0.1); /* Light green background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 30%;
    overflow-y: auto;

}

.info-dialog-facts h3 {
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--primary-color);
}

.info-dialog-facts ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.info-dialog-facts li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 10px;
    text-align: justify;
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.2;
    font-size: 1.1em;
    color: var(--dark-neutral-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog-facts li::before {
    content: "•";
    position: absolute;
    left: 8px;
    color: var(--primary-color);
    font-size: 1.2em;
}

.info-dialog-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-dialog-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: larger;
  text-align: center;
  transition: background-color var(--transition-speed) ease;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.info-dialog-button:hover {
  background-color: #5c8a00;
}

.shortcut-key {
    display: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}

body.has-keyboard .shortcut-key {
    display: inline-block;
}
body.has-keyboard button {
    text-align: left;
}

