/* Mostly styles for main page */

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --primary-color: #74ac00;
    /* iNat green rgb(116, 172, 0) */
    --primary-counter-color: #ac0028;
    /* red rgb(172, 0, 40) */
    --light-green: rgba(116, 172, 0, 0.2);
    --light-green-not-transparent: #dfe9c8;
    --dark-neutral-color: #444;
    --background-color: #ffffff;
    --text-color: #ffffff;
    --counter-text-color: #444;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --overlay-color: rgba(0, 0, 0, 0.3);

    --normal-font-size: 18px;
    --border-radius: 8px;
    --max-image-width: 800px;
    --transition-speed: 0.3s;
    /* images wobble when <80px */
    --center-min-height: 80px;
    /* consider relative to screen */
}

html,
body {
    width: 100%;
    height: 100%;
    /*    margin: 0;
    padding: 0;*/
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    background-color: var(--light-green);
    --light-green: rgba(116, 172, 0, 0.2);
}

body * {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

/* percolate to child elements */

/*
body::-webkit-scrollbar * {
    display: none;
}
*/

/* Other general styles */

button {
    outline: none;
    box-shadow: none;
    user-select: none;
}

/* remove black border when active */
.no-outline {
    outline: none;
    box-shadow: none;
}

.game-container {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*   box-sizing: border-box;*/

    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /*   padding: 0;*/

    z-index: 1;
    transform-origin: center center;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.underline {
    text-decoration: underline;
}

/* Styles common to all main containers */
.image-container,
.name-pair,
#overlay {
    width: 98vw;
    max-width: var(--max-image-width);
}

/* Animation keyframes etc. */
@keyframes dropAnimation {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.drop-animation {
    animation: dropAnimation 0.3s ease-out forwards;
}

@keyframes swipeOutLeft {
    to {
        transform: rotate(-5deg) translateX(-100%);
        opacity: 0;
    }
}

.swipe-out-left {
    animation: swipeOutLeft 0.5s ease-out forwards;
}

.swipe-info-message {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--dark-neutral-color);
    height: fit-content;
    width: auto;
    max-width: 80%;
    padding: 6px 15px;
    border-radius: 15px;
    font-size: larger;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
    z-index: 1000;
}
