/* Main view layout */

.game-container {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    z-index: 1;
    transform-origin: center center;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.portrait-layout .game-container {
    flex-direction: column;
}

.landscape-layout .game-container {
    flex-direction: row;
}

/* Styles common to all main containers */
.image-container,
.name-pair,
.name-pair__overlay {
    width: 98vw;
    max-width: var(--max-image-width);
}

/* Image container and components */

.image-container {
    position: relative;
    flex: 1 1 300px;
    margin: 0px 0px;
    padding: 4px;
    aspect-ratio: 1/1;
    background-color: var(--light-green-not-transparent);
    box-shadow: 0 0 8px var(--shadow-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.landscape-layout .image-container {
    max-width: calc(50% - 8px); /* Adjusted to allow for some gap */
    max-height: 86vh;
    /*max-height: none;*/
    margin: 8px;
    aspect-ratio: 3/4;
}

.image-container--drag-over {
    cursor: copy;
}

.portrait-layout #image-container-1 {
    margin-top: 4px;
}
.portrait-layout #image-container-2 {
    margin-bottom: 4px;
}
.landscape-layout #image-container-1 {
    margin-right: 4px;
}
.landscape-layout #image-container-2 {
    margin-left: 4px;
}

.image-container__image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    background-color: #f0f0f0;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
    border-radius: var(--border-radius);

    transition: opacity 0.5s ease-in-out;

    pointer-events: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.image-container__image--fade {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container__image--fade-in {
    opacity: 1;
}

.image-container__image--loading {
    opacity: 0.6;
    transition: opacity var(--transition-speed) ease-in-out;
}

/* Hint overlay */
.hint-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    font-size: 28px;

    z-index: 100;
}

/* World map overlays on images */

.image-container__world-map {
    position: absolute;
    left: 60px;
    bottom: 5px;
    width: 100px;
    height: 60px;
    border-radius: var(--border-radius);
    opacity: 0.6;
    z-index: 10;
}

.image-container__world-map svg {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100px;
    height: 60px;
    padding: 4px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: var(--border-radius);
}

/* Drop zone for taxon tiles */
.image-container__drop-zone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    z-index: 10;
    width: 300px;
    max-width: calc(var(--max-image-width)-50px);
    height: 80px;
    /* Add a fixed height */
    transition: all 0.3s ease-out;
    pointer-events: none;
}

/* Used for marking the active image when showing the info dialog */

.image-container--framed {
    box-shadow: 0 0 0 4px rgba(116, 172, 0, 0.5);
    transition: box-shadow 0.3s ease;
    z-index: 1000;
}

/* Name pair container and components */

.name-pair {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(0, 0, 0, 0);
    margin: 4px auto;
    gap: 4px;
    width: 98%;
    max-width: var(--max-image-width);
    min-height: var(--center-min-height);
}
.portrait-layout .name-pair {
    flex-direction: row;
}
.landscape-layout .name-pair {
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:320px;
    max-width:320px;
/* TODO hack to prevent pair from twitching after load most of the time */
    min-height: 180px;
    gap: 8px;
    z-index: 10;
}

.name-pair__container {
    display: flex;
    flex: 1;
    min-width: 0;
    margin: 0px;
    min-height: var(--center-min-height);
}

/* Styles for draggable name tiles */
.name-pair__item--draggable {
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    border-radius: var(--border-radius);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 300px;
    min-height: var(--center-min-height);
    color: var(--text-color);
    background-color: var(--primary-color);
    opacity: 1;
    font-size: 22px;
    text-shadow: 1px 1px 2px var(--shadow-color);
    touch-action: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    hyphens: auto;
    box-shadow: 0 0 0 2px white;
    cursor: grab;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    transition: box-shadow var(--transition-speed) ease, left 0.1s ease-out, top 0.1s ease-out;
}

.name-pair__item--draggable:hover {
    transform: scale(1.01);
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.landscape-layout .name-pair__item--draggable {
    position: relative;
    width: 100%; /* Full width of the name-pair container */
    max-width: none; /* Remove max-width constraint */
}

.name-pair__item--landing {
    transition: all 0.3s ease-out !important;
}

@keyframes incorrectAnswer {
    0%, 100% { background-color: var(--primary-color); }
    50% { background-color: #F44336; }
}

.name-pair__item--correct {
    animation: correctAnswer 0.6s ease-in-out;
}

.name-pair__item--incorrect {
    animation: incorrectAnswer 0.6s ease-in-out;
}

.name-pair__taxon-name,
.name-pair__vernacular-name {
    width: 100%;
    display: block;
    overflow: hidden;
    word-break: normal;
    overflow-wrap: break-word;
    /* doesn't work */
    hyphens: auto;
    text-overflow: ellipsis;
    white-space: wrap;
}

.name-pair__taxon-name {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 0.95em;
}

.name-pair__vernacular-name {
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.8);
}

.name-pair__item--draggable:active,
.name-pair__item--dragging {
    width: 300px !important;
    opacity: 0.9 !important;
    border: 2px solid white !important;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7) !important;
    -webkit-box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7) !important;
    z-index: 1000 !important;
    transform: scale(1.05) translateZ(0) !important;
    -webkit-backface-visibility: hidden !important;
    -webkit-perspective: 1000 !important;
    cursor: grabbing !important;
}
.name-pair__item--dragging {
    /* Ensure the element is rendered as its own layer */
    -webkit-transform: translateZ(0) !important;
    transition: none;
}
.landscape-layout .name-pair__item--dragging {
}

/* Message overlay */

.name-pair__overlay {
    position: absolute;
    border-radius: var(--border-radius);
    height: 100%;
    background-color: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-speed) ease, background-color var(--transition-speed) ease;
}

.name-pair__overlay.show {
    opacity: 1;
}

.portrait-layout .name-pair__overlay {
    width: 100%; /*not sure if ok*/
}
.landscape-layout .name-pair__overlay {
    width: 100%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px white, 0 0 10px 3px rgba(255, 255, 255, 0.7);
}

.name-pair__overlay-message {
    font-size: 2.4em;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
    padding: 15px;
    max-width: 95%;
    line-height: 1.4;
    transition: opacity 0.3s ease-in-out;
}

/* Swipe message for portrait mode */
.swipe-info-message {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--dark-neutral-color);
    height: fit-content;
    width: auto;
    max-width: 80%;
    padding: 6px 15px;
    border-radius: 15px;
    font-size: larger;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
    z-index: 1000;
}

/* Landscape view buttons and logos */

/* Next pair button */

.portrait-layout .next-pair-button {
    display: none;
}
.landscape-layout .next-pair-button {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    height: 2.0em;
    z-index: 10;
}

.main-view-logo {
    flex-direction: row;
    width: 60px;
    height: 60px;
    z-index: 10;
}
.portrait-layout .main-view-logo {
    display: none;
}
.landscape-layout .main-view-logo {
    display: flex;
    position: absolute;
    left: 15vw;
    top: 10px;
    margin-top: -8px;
    transform: translateX(-50%);
}
.main-view-title {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}
.portrait-layout .main-view-title {
    display: none;
}
.landscape-layout .main-view-title {
    display: flex;
}
