/* Image container and components */

.image-container {
    position: relative;
    flex: 1 1 300px;
    margin: 0px 0px;
    padding: 4px;
    aspect-ratio: 1/1;
    position: relative;
    background-color: var(--counter-text-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    cursor: default;
}
.image-container--drag-over {
    cursor: copy;
}

/* TODO this will be a problem when switching to side-by-side on desktop, keep in mind */
#image-container-1 {
    margin-top: 4px;
}
#image-container-2 {
    margin-bottom: 4px;
}
.image-container__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #f0f0f0;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    pointer-events: none; /* Prevents the image from interfering with dragging */
    transition: opacity var(--transition-speed) ease-in-out;
}

.image-container__image--loading {
    opacity: 0.5;
    transition: opacity var(--transition-speed) ease-in-out;    
}

/* World map overlays on images */

.image-container__world-map {
    position: absolute;
    left: 60px;
    width: 100px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    border-radius: var(--border-radius);
    opacity: 0.6;
    z-index: 10;
}
.image-container__world-map svg {
    border-radius: var(--border-radius);
}

#world-map-1 {
    bottom: 5px;
}

#world-map-2 {
    bottom: 5px;
}

/* Drop zone for taxon tiles */
.image-container__drop-zone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    z-index: 10;
    width: 60%;
    max-width: calc(var(--max-image-width)-50px);
    height: 80px; /* Add a fixed height */
    pointer-events: none;
}

/* Used for marking the active image when showing the info dialog */

.image-container--framed {
    box-shadow: 0 0 0 4px rgba(172, 0, 40, 0.5);
    transition: box-shadow 0.3s ease;
    z-index: 1000;
}

